<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Android">
	<test name="Android" group-by-instances="true"
		preserve-order="true">
		<!--<groups> <run> <include name="inAppTemplates" /> </run> </groups> -->
		<classes>
		<class name="com.leanplum.tests.InAppTemplateTest">
			<class name="com.leanplum.tests.InAppTemplateTest">

			 <!--	<methods>
					<include
						name=".*confirmRichInterstitialStarRatingCenterPopupTemplates.*" />
						<include
						name=".*confirmRichInterstitialWebInterstitialTemplates.*" />
						<include
						name=".*confirmInterstitialAlertBannerTemplates.*" />
						
				</methods>-->
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->